.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: red;
}
.input-form {
    width: 45%;
}
.output {
    width: 45%;
}